@import 'tailwindcss/base'; 

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

h1{
    @apply text-2xl;

}
h1, h2, h3, h4, h5, h6 {
    @apply font-display;
    }

    body {
        @apply font-body; 
    }
h2 {
    @apply text-xl;
}
h3 {
    @apply text-lg;
}



@screen sm {
    h1{
        @apply text-3xl;
    
    }
    h2 {
        @apply text-2xl;
    }
    h3 {
        @apply text-xl;
    }
}

@screen md {
    h1{
        @apply text-4xl;
    
    }
    h2 {
        @apply text-3xl;
    }
    h3 {
        @apply text-2xl;
    }
}

@screen lg {
    h1{
        @apply text-5xl;
    
    }
    h2 {
        @apply text-4xl;
    }
    h3 {
        @apply text-3xl;
    }
}
